---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include head.html %}
<!-- mathjax config similar to math.stackexchange  -start -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<!-- mathjax config similar to math.stackexchange  -end -->
  </head>
  <body class="{{ page.slug }}">
    <main class="main">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>
  </body>
</html>
